
<html>
  <body>

    <%= form_tag url_for(action: 'create'), method: "gossip" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Body' %>
      <%= text_area_tag 'body', @gossip.body %>
      <br /> <br />

      <%= label_tag 'Author' %>
      <%= text_field_tag 'author', @gossip.author %>
      <br /> <br />

      <%= submit_tag "Create gossip" %>

    <% end %>

  </body>
</html>